#d1, #d2, #d3{
    width: 400px;
    
    border: teal solid 4px;
    
}

#d1{
    border-radius: 0px 20px 0px 20px;
}

#d2{
    border-radius: 20px;
}

#d3{
    border-radius: 100%;
}

/* Arredondamento de bordas */