body{
    background-color: rgb(120, 120, 199);
    color: white;
    
}

ol{
    list-style-type: disc; /*Configura o tipo de marcador*/
    font-size: 20pt;
    border: white solid 2px;
    list-style-position: inside; /*define a posição do marcador, dentro da listagem ou fora da listagem*/
}
/*
Como diversas propriedades essa também utiliza a meta propriedade:
    list-style: disc inside;


Adicionando uma imagem como marcador: list-style-image: url();
*/

li{
    width: 150px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-right: white solid 2px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color:black;
    background-color: white;
}